<canvas id="canvas" width="400" height="400"></canvas>
<button onClick="addCircle()">Add Circle</button>
<button onClick="addRect()">Add Rectangle</button>
<script>
  fabric.Object.prototype.noScaleCache = false;
  var canvas = new fabric.Canvas("canvas")
  canvas.setWidth(document.body.clientWidth - 10)
  canvas.setHeight(document.body.clientWidth - 10)
  canvas.setZoom(canvas.width / 400)
  canvas.on('after:render', writeCanvasToForm)
  canvas.on('after:render', writeSVGToForm)
    <% if entity %> canvas.loadFromJSON('<%= raw(entity.canvas) %>') <% end %>

    function writeCanvasToForm(){
        byId('entity_canvas').value = JSON.stringify(canvas)
      }

  function writeSVGToForm(){
      byId("entity_svg").value = canvas.toSVG({withoutPreamble: true})
    }

  function addCircle(){
      var circle = new fabric.Circle({
          fill: '',
          stroke: 'black',
          strokeWidth: 1,
          strokeUniform: 'true',
          radius: 50
        })
      canvas.add(circle)
    }

  function addRect(){
      var rect = new fabric.Rect({
          fill: '',
          stroke: 'black',
          strokeWidth: 1,
          strokeUniform: 'true',
          width: 100,
          height: 100
        })
      canvas.add(rect)
    }

</script>

<%# go here for info about the uniform stroke widths http://fabricjs.com/stroke-uniform %>
