<canvas id="canvas" width="400" height="400"></canvas>
<button onClick="addCircle()">Add Circle</button>
<button onClick="addRect()">Add Rectangle</button>
<script>
  const canvas = new fabric.Canvas("canvas")
  canvas.setWidth(document.body.clientWidth - 10)
  canvas.setHeight(document.body.clientWidth - 10)
  canvas.setZoom(canvas.width / 400)
  canvas.on('after:render', writeCanvasToForm)
  canvas.on('after:render', writeSVGToForm)
    <% if entity %> canvas.loadFromJSON('<%= raw(entity.canvas) %>') <% end %>

    function writeCanvasToForm(){
        const canvas_field = document.getElementById("entity_canvas")
        canvas_field.value = JSON.stringify(canvas)
      }

  function writeSVGToForm(){
      const svg_field = document.getElementById("entity_svg")
      svg_field.value = canvas.toSVG({withoutPreamble: true})
    }

  function addCircle(){
      var circle = new fabric.Circle({fill: 'grey', radius: 50})
      canvas.add(circle)
    }

  function addRect(){
      var rect = new fabric.Rect({fill: 'grey', width: 50, height:50})
      canvas.add(rect)
    }

</script>
