<canvas id="canvas" width="400" height="400"></canvas>
<script>
  const canvas = new fabric.Canvas("canvas")

  function writeCanvasToForm(){
    const form_field = document.getElementById("canvas_text")
    form_field.value = JSON.stringify(canvas)
  }

  function toggleMode(){
    canvas.isDrawingMode = !canvas.isDrawingMode
    if (canvas.isDrawingMode) { document.getElementById("mode").innerText = 'Drawing Mode' }
    else { document.getElementById("mode").innerText = 'Select Mode' }
  }

  function removeActive(){
    var active = canvas.getActiveObject()
    canvas.remove(active)
  }

  function updateBackground(){
    var url = document.getElementById("background").value
    canvas.setBackgroundImage(url || null, canvas.renderAll.bind(canvas))
  }

  function addEntity(){
    var url = document.getElementById("entity").value
    fabric.Image.fromURL(url, function(oImg) {
      canvas.add(oImg);
    });
  }

  canvas.on('after:render', writeCanvasToForm)
</script>

<small id="mode">Select Mode</small><br>
<button onClick="toggleMode()" >Toggle</button>
<select id="background" name="" onchange="updateBackground()">
  <option value="">Select a Background</option>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/c_scale,e_grayscale,h_400,w_400/v1598901994/Story/DelightfulDwellingFloor2.png">Bedroom</option>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/c_scale,e_grayscale,h_400,w_400/v1598902833/Story/PoachersCrest.jpg">Town</option>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/c_scale,e_grayscale,h_400,w_400/v1598901746/Story/Arvyre_Continent_Map_-_23x16_-_Minimal.jpg">World</option>
</select>
<select id="entity" name="" onchange="addEntity()">
  <option value="">Add an Entity</option>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/v1598901490/Story/heroes_1_2020-08-31T19_03_00.702Z.png">Swishy cloak guy</option>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/v1598900554/Story/heroes_9_2020-08-31T19_01_10.924Z.png">Angry orc</option>
</select>
<button onClick="removeActive()" >Delete Entity</button>
<button onClick="canvas.clear()" >Clear Canvas</button>
