<canvas id="canvas" width="400" height="400"></canvas>
<script>
  const canvas = new fabric.Canvas("canvas")
  canvas.setWidth(document.body.clientWidth - 10)
  canvas.setHeight(document.body.clientWidth - 10)
  canvas.setZoom(canvas.width / 400)
  canvas.on('after:render', writeCanvasToForm)
  canvas.on('after:render', updateNewStaticCanvas)

  function writeCanvasToForm(){
      const form_field = document.getElementById("canvas_text")
      form_field.value = JSON.stringify(canvas)
    }

  function toggleMode(){
      canvas.isDrawingMode = !canvas.isDrawingMode
      if (canvas.isDrawingMode) { document.getElementById("mode").innerText = 'Drawing Mode' }
      else { document.getElementById("mode").innerText = 'Select Mode' }
    }

  function removeActive(){
      var active = canvas.getActiveObject()
      canvas.remove(active)
    }

  function updateBackground(){
      var url = document.getElementById("background").value
      canvas.setBackgroundImage(url || null, canvas.renderAll.bind(canvas))
    }

  function closeSceneEditor(){
      document.getElementById("sceneEditor").style.display = "none"
    }

  function updateNewStaticCanvas(){
      let JSON = document.getElementById('canvas_text').value
      newStaticCanvas.loadFromJSON(JSON)
    }

  function addEntity(){
      var group = [];
      var svg = document.getElementById("entity").value
      fabric.loadSVGFromString(svg, function(objects,options)
          {
              var loadedObjects = new fabric.Group(group);
              canvas.add(loadedObjects);
              canvas.renderAll();
            },
          function(item, object) {
              object.set('id', item.getAttribute('id'));
              group.push(object);
            });
    }

</script>

<small id="mode">Select Mode</small><br>
<button onClick="toggleMode()" >Toggle</button>
<select id="background" name="" onchange="updateBackground()">
  <option value="">Select a Background</option>
  <% Background.all.each do |background| %>
    <option value="<%= url_for background.image %>">
    <%= background.name %>
    </option>
  <% end %>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/c_scale,e_grayscale,h_400,w_400/v1598901994/Story/DelightfulDwellingFloor2.png">Bedroom</option>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/c_scale,e_grayscale,h_400,w_400/v1598902833/Story/PoachersCrest.jpg">Town</option>
  <option value="https://res.cloudinary.com/dm3ooe9xy/image/upload/c_scale,e_grayscale,h_400,w_400/v1598901746/Story/Arvyre_Continent_Map_-_23x16_-_Minimal.jpg">World</option>
</select>

<select id="entity" name="" onchange="addEntity()">
  <option value="">Add an Entity</option>
  <% Entity.all.each do |entity| %>
    <option value="<%= entity.svg %>">
    <%= entity.label %>
    </option>
  <% end %>
</select>

<button onClick="removeActive()" >Delete Entity</button>
<button onClick="canvas.clear()" >Clear Canvas</button>
<button onClick="closeSceneEditor()" >Save and Close Scene Editor</button>
