/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  color: #333;
}

body {
  margin: 0 auto;
  max-width: 600px;
}

button {
  font-size: 18px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
  &:active {
    box-shadow: inset 0px 0px 5px #c1c1c1;
  }
  &:disabled {
    background: white;
    color: lightGrey;
    &:active { box-shadow: none; }
  }
  &.selected {
    border-color: white;
    color: white;
    background-color: DodgerBlue;
  }
}

.entitySelectors {
  overflow: auto;
  white-space: nowrap;
}

.entitySelector.active {
  background-color: lightblue;
}

svg {
  background-color: #eee;
  path {
    fill: #fff;
  }
}

.shape {
  opacity: .75;
  vector-effect: non-scaling-stroke;
  stroke: #333;
  &.selected {
    stroke-width: 2.5;
    fill: DodgerBlue !important;
  }
}

g.layer {
  opacity: .5;
  .shape{
    stroke-width: .5;
  }
  &.selected {
    opacity: 1;
    .shape{
      stroke-width: 1.5;
      fill: Azure;
    }
  }
}

.entity {
  &.selected path {
    stroke: blue;
    stroke-width: 4;
  }
}

path.active {
  stroke: lightblue;
}

