/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 600px;
}

button {
 font-size: 20px;
 padding: 5px;
 border: 1px solid #ccc;
 border-radius: 5px;
 margin: 5px;
}

.entitySelectors {
  overflow: auto;
  white-space: nowrap;
}

.entitySelector.active {
  background-color: lightblue;
}

svg {
  background-color: #ddd;
}

path {
  fill: #0000; /* transparent fill for dragging */
  stroke: #444;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}

.dragging path{
  fill: #4444ff50;
}

path.active {
  stroke: lightblue;
}

