<div class="header">
  <h2>Story Prototype</h2>
  <p><%= loginStatus(@user) %></p>
  <div>
    <%= button_to "Sign in as Narrator", '/sessions/create/narrator' unless @user == 'narrator' %>
    <%= button_to "Sign in as Hero", '/sessions/create/hero' unless @user == 'hero' %>
    <%= button_to "Logout", sessions_destroy_path, method: :delete if @user %>
  </div>
</div>
